.checkbox-option
	max-width 220px

	&__option
		font-weight: bold;
		cursor pointer
		text-shadow 0 1px black
		width 29%

		+below(5)
			width 50%
			text-align justify

		+below(3)
			width 50%
			margin 0 0 10px 0

		+below(1)
			width 100%
	&__checkbox
		display none

		+label:before
			content ''
			display inline-block
			height 18px
			width 20px
			background url("../../images/icon-sprite.png") no-repeat
			position relative
			background-position -100px 0
			left -8px
			top 3px

		&:checked + label:before
			background-position -72px 0

	&__link
		color #1f5f97
		text-shadow none

		&:visited
			color #1f5f97
