//.subject-info
	//margin 0 0 42px 0
	//
	//+below(2)
	//	margin 0 0 10px 0

	//&__caption
	//	font block-title-text
	//	font-weight bold
	//	color main-font-color
	//	margin 0 0 11px 5px
	//
	//&__description
	//	font description-text
	//	color description-text-color
	//	line-height 1.5em
	//	margin 0 0 15px 0.5%
	//	width 99%
	//
	//	+below(5)
	//		text-align justify
