.date
	color input-text-color
	background-color transparent
	border-style solid
	border-width 0 0 4px
	border-image shabby-brown-line
	font 30px Courier New
	margin -23px 0 0 20px
	width 269px
	padding 0 0 0 5px
	height 48px

	+below(5)
		display block
		font-size 24px
		margin 0
		width 100%
		top 25px
