//.optional-info
//	display block
//	margin 0 0 35px 0
//
//	&__caption
//		font block-title-text
//		font-weight bold
//		margin 0 0 9px 0
//		color main-font-color
//
//	&__description
//		font description-text
//		color description-text-color
//		line-height 1.5em
//		margin 0 0 3.2% 0
//
//		+below(5)
//			text-align justify
//
//	&__options-block
//		font checkboxes-label
//		display flex
//		flex-flow column wrap
//		height 260px
//
//		+below(5)
//			height 375px
//
//		+below(3)
//			margin 0 0 0 15%
//
//		+below(2)
//			margin 0
//			height 500px
//
//		+below(1)
//			height 100%
//
//	&__item
//		margin 3.1px 5.8% 4.5px 0.8%
