include ../checkbox-option/checkbox-option

mixin optional-info(options)
	section.optional-info
		.optional-info__caption Расскажите о себе чекбоксами
		p.optional-info__description Отметьте чекбоксами пункты, которые соответствуют вашим скиллам.
			|Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей.
			|Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
			ul.optional-info__options-block
				each val in options
					li.optional-info__item
						+checkbox-option(val.label, val.state, val.name, val.link)
