//font styles

label-text = 22.5px 'PT Sans', sans-serif
input-text = 30px Courier New
block-title-text = 24px 'PT Sans', sans-serif
description-text = 15px 'PT Sans', sans-serif
checkboxes-label = 21px 'PT Sans', sans-serif
input-indicator = 13px 'PT Sans', sans-serif
radio-label = 20px 'PT Sans', sans-serif

//color styles

main-font-color = #2f1b15
input-text-color = #493f34
description-text-color = #3d3d3d

//border & background images

shabby-brown-line = url('../../images/input-border.png') 0 0 4 fill repeat

