.textfield
	background transparent url('../../images/textarea-row.png') repeat
	border none
	width 100%
	overflow hidden
	font-weight bold
	font input-text
	padding 10px 0 0 6px
	line-height 60px
	display block
	min-height 130px
