.indicator
	&__switch
		-webkit-appearance none
		width 100%
		background transparent
		background url('../../images/input-border.png') repeat-x
		height 20px
		background-position 0 100%
		cursor pointer

		&::-webkit-slider-thumb
			-webkit-appearance none
			thumbStyle()

		&::-moz-range-thumb
			thumbStyle()

		&::-ms-thumb
			thumbStyle()

		&:focus
			outline none

		&::-webkit-slider-runnable-track
			width 100%
			background-image: url('../../images/input-border.png') repeat;
			height 30px

		&:focus::-webkit-slider-runnable-track
			background transparent

		&::-moz-range-track
			width 100%
			background-image url('../../images/input-border.png') repeat
			background-color transparent

		&::-ms-track
			width: 100%
			background: transparent;
			border-color: transparent;
			border-width: 16px 0
			color transparent

		&::-ms-fill-lower
			background transparent

		&::-ms-fill-upper
			background transparent

	&__indicator
		display block
		clearfix()

	&__value
		float left
		white-space normal
		font input-indicator
		position relative
		padding 25px 0 0 0
		color main-font-color
		font-weight bold

		&:first-child
			width 20.4%

			&::before
				indicatorStyle(large)

		&:nth-child(2)
			width 29.4%

			&::before
				indicatorStyle(normal)

		&:nth-child(3)
			width 22%

			&::before
				indicatorStyle(normal)

		&:nth-child(4)
			width 28%
			padding-left 9%

			+below(1)
				padding-left 13%

			&::after
				indicatorStyle(large)
				right 0
